{
  "parser": "babel-eslint",
  "extends": "react",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
     "react/jsx-filename-extension": "off",
    "lines-between-class-members": 2,
    "block-spacing": 2,
    "max-nested-callbacks": [
      "error",
      5
    ],
    "no-console": 0,
    "no-trailing-spaces": 2,
    "space-before-blocks": 2,
    "space-before-function-paren": [
      "error",
      "never"
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}