.loginWrapper{
    height: 400px;
    width: 400px;
    background-color: aqua;
    margin: auto;
}
.login{
    background-color: grey;
    margin: auto;
    width: 200px;
    padding-top: 40%;
}
.loginInputs{
    background-color: yellow;
    height: 50px;
}

.loginButtons{
    background-color: green;
    height: 50px;
}
